.card {
  width: 70%;
  height: auto;
  box-shadow: 1px 1px 14px 0.1px #ffc800;
  border-radius: 10px;
  background-color: black;
  display: grid;
  justify-items: center;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(45, 45, 45);
  box-shadow: 1px 1px 14px 0.1px #846806;
  transition: background-color, box-shadow, 0.2s;
}

.name {
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .card {
    width: 80%;
  }

  .name {
    font-size: 0.6rem;
  }
}
